<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row flex-row-reverse g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4">About Bone & Joint Clinic</h1>
        <!-- <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
        <p class="mb-4">
          Welcome to the Bone & Joint Clinic, where unparalleled expertise meets
          compassionate care. Spearheaded by Dr. Nitin Gupta, hailed as the best
          knee replacement surgeon in JaipurOur clinic stands as a hallmark of
          orthopedic excellence. Whether you seek a joint specialist, require
          guidance from a ligament specialist, or need advanced hip joint
          replacement, we have you covered. Dr. Nitin Gupta, renowned as a top
          knee specialist in Jaipur, has transformed thousands of lives through
          his surgical prowess. At Bone & Joint Clinic, we prioritize your
          well-being, ensuring every patient experiences world-class treatment.
          Entrust your orthopedic needs to the best in the field; entrust them
          to us.
        </p>

        <a
          class="btn btn-primary rounded-pill py-3 px-5 mt-3"
          href="/about.html"
          >Know More</a
        >
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img
            class="img-fluid rounded bg-white pt-3 pe-3"
            src="img/about-clinic.jpg"
            alt="Dr. Nitin Gupta's Clinic"
          />
        </div>
      </div>
    </div>
    <hr />
    <br />

    <h3 class="fs-2">
      Why Seek the Treatment from Dr. Nitin Gupta, Best Orthopaedic Doctor in
      Jaipur?
    </h3>
    <br />

    <ul>
      <li>
        3,000+ Surgeries: A testament to Dr. Gupta's surgical prowess and
        dedication.
      </li>
      <li>
        20+ Years Experience: Decades of expertise in orthopaedic healthcare.
      </li>

      <li>
        Top Knee Specialist: Recognized as the best knee replacement surgeon in
        Jaipur.
      </li>
      <li>
        Holistic Orthopaedic Care: Proficient in hip joint replacements and
        pelviacetabular procedures.
      </li>
      <li>
        Trusted Expert: Revered by both peers and patients for unparalleled
        surgical outcomes.
      </li>
    </ul>
  </div>
</div>
<!-- About End -->
