<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img
            class="img-fluid rounded w-75 align-self-end"
            src="img/ortho.jpg"
            alt="Dr. Nitin Gupta Orthopedics"
          />
          <img
            class="img-fluid rounded w-50 bg-white pt-3 pe-3"
            src="img/power ortho.jpg"
            alt="Dr. Nitin Gupta Orthopedics"
            style="margin-top: -25%"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="d-inline-block border rounded-pill py-1 px-4">About</p>
        <h1 class="mb-4">About Dr. Nitin Gupta</h1>
        <!-- <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
        <p class="mb-4">
          Renowned as the best knee replacement surgeon in Jaipur, Dr. Nitin
          Gupta is a beacon of excellence in orthopaedic healthcare. With an
          impressive track record of over 3000 successful joint replacement
          surgeries, his expertise is unmatched. Dr. Nitin is not only a knee
          specialist in Jaipur but also an authority in hip joint replacement
          and pelviacetabular procedures. Patients from far and wide trust his
          surgical acumen, benefiting from his precision and deep-rooted
          knowledge in the domain. His commitment to patient well-being, coupled
          with his extensive experience, makes him a sought-after name in
          orthopaedic surgery.
        </p>

        <a
          class="btn btn-primary rounded-pill py-3 px-5 mt-3"
          href="/about.html"
          >Know More</a
        >
      </div>
    </div>
  </div>
</div>
<!-- About End -->
